USE [master]
GO
/****** Object:  Database [vqt_japanese_food]    Script Date: 1/13/2026 2:59:35 PM ******/
CREATE DATABASE [vqt_japanese_food]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vqt_japanese_food', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vqt_japanese_food.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vqt_japanese_food_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vqt_japanese_food_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vqt_japanese_food].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vqt_japanese_food]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogs]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Catalogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorys](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CatalogId] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Alt] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PaymentMethod] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLikes]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLikes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Like] [int] NOT NULL,
 CONSTRAINT [PK_ProductLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[IsOnSale] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Rating] [int] NOT NULL,
	[ReviewCount] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DiscountId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductViews]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductViews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[View] [int] NOT NULL,
 CONSTRAINT [PK_ProductViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/13/2026 2:59:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[BirthDate] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[ActivationCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260110073255_initDB', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260111071330_add-table-discount', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260113070006_addColumnActiveCode', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Catalogs] ON 

INSERT [dbo].[Catalogs] ([Id], [Name], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'Food', CAST(N'2026-01-12T17:18:36.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0)
INSERT [dbo].[Catalogs] ([Id], [Name], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'Drink', CAST(N'2026-01-12T17:19:01.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0)
INSERT [dbo].[Catalogs] ([Id], [Name], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete]) VALUES (3, N'ramen', CAST(N'2026-01-12T22:54:06.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0)
SET IDENTITY_INSERT [dbo].[Catalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([Id], [Name], [CatalogId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete]) VALUES (1, N'Meat Food', 1, CAST(N'2026-01-12T17:18:43.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0)
INSERT [dbo].[Categorys] ([Id], [Name], [CatalogId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete]) VALUES (2, N'Tea', 2, CAST(N'2026-01-12T17:19:09.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0)
SET IDENTITY_INSERT [dbo].[Categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [ProductId], [ImageUrl], [Alt], [Title], [SortOrder]) VALUES (1, 1, N'~/Uploads/Product/f09be47d-02ef-490d-83cf-2841e4ec8516.jpg', N'', N'', 1)
INSERT [dbo].[Images] ([Id], [ProductId], [ImageUrl], [Alt], [Title], [SortOrder]) VALUES (2, 1, N'~/Uploads/Product/92f451d6-0d11-4807-80c1-c266bacb6893.jpg', N'', N'', 0)
INSERT [dbo].[Images] ([Id], [ProductId], [ImageUrl], [Alt], [Title], [SortOrder]) VALUES (3, 2, N'~/Uploads/Product/105eb9d5-78a2-4ef9-8135-6765634b82fe.jpg', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[Images] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (1, 0, 4, 7)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (2, 0, 4, 7)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (3, 0, 4, 7)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Code], [ShortDescription], [Description], [Price], [SalePrice], [IsOnSale], [Quantity], [Address], [Latitude], [Longitude], [Rating], [ReviewCount], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete], [DiscountId]) VALUES (1, 2, N'Tea blue', N'J7oIUN', NULL, NULL, CAST(100000.00 AS Decimal(18, 2)), CAST(9000.00 AS Decimal(18, 2)), 1, 100, N'HCM', 0, 0, 0, 0, 1, CAST(N'2026-01-12T17:19:21.0000000' AS DateTime2), N'', CAST(N'2026-01-12T17:20:54.6361261' AS DateTime2), NULL, 1, 0, NULL)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Code], [ShortDescription], [Description], [Price], [SalePrice], [IsOnSale], [Quantity], [Address], [Latitude], [Longitude], [Rating], [ReviewCount], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete], [DiscountId]) VALUES (2, 2, N'Tea red', N'FXdrvd', N'', N'', CAST(12000.00 AS Decimal(18, 2)), CAST(11000.00 AS Decimal(18, 2)), 1, 100, N'HCM', 0, 0, 0, 0, 1, CAST(N'2026-01-12T17:21:13.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0, 0)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Code], [ShortDescription], [Description], [Price], [SalePrice], [IsOnSale], [Quantity], [Address], [Latitude], [Longitude], [Rating], [ReviewCount], [IsAvailable], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete], [DiscountId]) VALUES (3, 1, N'Meat Blue', N'Xj1YHX', N'', N'', CAST(15000.00 AS Decimal(18, 2)), NULL, 0, 100, N'HCM', 0, 0, 0, 0, 1, CAST(N'2026-01-12T17:22:02.0000000' AS DateTime2), N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'', 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [FullName], [PhoneNumber], [BirthDate], [Address], [Avatar], [Gender], [RoleId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete], [ActivationCode]) VALUES (1, N'admin@gmail.com', N'123', N'admin', N'098765432', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, 0, 0, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 1, 0, NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [FullName], [PhoneNumber], [BirthDate], [Address], [Avatar], [Gender], [RoleId], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsActive], [IsDelete], [ActivationCode]) VALUES (6, N'tunx406.ktl@gmail.com', N'123', N'guts tu', N'0989410324', CAST(N'2026-01-13T14:11:25.2932322' AS DateTime2), N'HCM', NULL, 1, 1, CAST(N'2026-01-13T14:11:25.3071848' AS DateTime2), N'tunx406.ktl@gmail.com', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Categorys_CatalogId]    Script Date: 1/13/2026 2:59:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categorys_CatalogId] ON [dbo].[Categorys]
(
	[CatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Images_ProductId]    Script Date: 1/13/2026 2:59:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Images_ProductId] ON [dbo].[Images]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 1/13/2026 2:59:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorys]  WITH CHECK ADD  CONSTRAINT [FK_Categorys_Catalogs_CatalogId] FOREIGN KEY([CatalogId])
REFERENCES [dbo].[Catalogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categorys] CHECK CONSTRAINT [FK_Categorys_Catalogs_CatalogId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categorys_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categorys] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categorys_CategoryId]
GO
USE [master]
GO
