<div>
    <main class="">
        <div class="layout-pageContact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 box-heading-contact">
                        <div class="box-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2769393262242!2d106.71356501474907!3d10.79008849231224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528acec0640df%3A0xa5dd6aac487b88cf!2zMjQzLCAyNiDEkMaw4budbmcgTmfDtCBU4bqldCBU4buRLCBQaMaw4budbmcgMjIsIELDrG5oIFRo4bqhbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1585754968925!5m2!1sen!2s"
                                    width="100%" height="700" frameborder="0" style="border:0;"
                                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 wrapbox-content-page-contact">
                        <div class="header-page-contact clearfix">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="box-info-contact">
                            <ul class="list-info">
                                <li>
                                    <p>Our Address</p>
                                    <p><strong>Ward 22, Binh Thanh District, Ho Chi Minh City.</strong></p>
                                </li>
                                <li>
                                    <p>Our Email</p>
                                    <p><strong><a href="mailto:Support@vqt.com">Support@vqt.com</a></strong></p>
                                </li>
                                <li>
                                    <p>Phone</p>
                                    <p><strong><a href="tel:0987654321">0987654321</a></strong></p>
                                </li>
                                <li>
                                    <p>Working Hours</p>
                                    <p><strong>Monday to Sunday from 9:00 AM to 9:00 PM</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
