@model List<JapaneseFood.Model.Catalog.CatalogDto>

<ul class="navbar-nav">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Home"
               asp-action="Catalog"
               asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>